@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
  overflow-x: hidden;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  position: blocked;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}


.fondo, body{
	background-color: #ffc402;
    	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	height: 80vh;
	width: 100%;	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.nombre-proyecto, h1 {
    color: rgb(2, 2, 2);
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 100px;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 30px; 
}

.boton-mas-informacion {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: black;
    border: 1px solid #fff;
    color: #fff;
    text-align:center;
    font-size: 0.8em;
    opacity: 0.8;
    padding: 20px 40px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
    display: block;
    /* width: 180px; */
 } 

#a {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}

.imagen1 {
  width: 120%;
  height: auto;
  justify-content: center;
}

.imagen2 {
  width: 90%;
  height: auto;
  justify-content: center;
  flex: 1;
  margin: 0 5%;
}

.boton-mas-informacion:hover {
    font-size: 0.9em;
    opacity: 1;
    padding: 25px 45px;
} 

  @keyframes boton-mas-informacion {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      top: 90%;
      opacity: 0;
    }
  }

 /* Imagenes e info */

.container {
    width: 100%;
    background-color: #fff;
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .header {
    width: 60%;
    text-align: center;
    margin: auto;
}

.container .row .header h2 { 
    padding-top: 30px;
    font-size: 45px;
    color: #e19c30;
}

.container .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.5;
    color: #6e6e6e;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content .card {
    flex: 1;
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1) ;
    background-color: #fff;

}

.content .card img{
    width: 100%;
    height: auto;

}

.content .card h4{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;

}

.content .card p{
    font-size: 15px;
    color: #6e6e6e;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 768px){
    .content {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
  .nombre-proyecto {
    font-size: 3em;
    margin-top: 150px;
  }
  
  .container .row {
    width: 100%;
    padding: 0 20px;
  }
  
  .container .row .header h2 {
    font-size: 30px;
  }
  
  .content {
    flex-direction: column;
  }
  
  .content .card {
    margin: 20px 0;
  }
  
  .content .card img {
    width: 100%;
    margin: auto;
  }
  
  .content .card h4 {
    margin: 10px 0;
    font-size: 16px;
    text-align: center;
  }
  
  .content .card p {
    font-size: 14px;
    text-align: justify;
  }
  
  .boton-mas-informacion {
    font-size: 0.6em;
    padding: 15px 30px;
  }
  
  .boton-mas-informacion:hover {
    font-size: 0.7em;
    padding: 20px 35px;
  }
   .imagen2 {
    margin-top: 40px;
    width: 90%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
  .imagen1 {
    max-width: 100%;
    height: auto; 
  }
}


@media (max-width: 767px) {
  .nav-bar {
    height: 60px;
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .imagen2 {
    display: none;
  }
}
